<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Bravo Profile Card</title>
  </head>
  <body>
    <section class="card-container">
      <div class="container">
        <article class="card">
          <div class="card__title">
            <div
              class="card__title--rectangle rectangle-js rectangle-<%= palette%>"
            ></div>
            <div class="card__title--text">
              <h3 class="name name-<%= palette%> js-nameInput fullname-js">
                <%= name%>
              </h3>
              <h4 class="subtitle js-jobInput"><%= job%></h4>
            </div>
          </div>
          <div
            class="card__photo profile__preview js__profile-preview"
            style="background-image: url(<%= photo%>)"
          ></div>
          <ul class="card__list">
            <li>
              <div class="card__list--icon icon-js iconcircle-<%= palette%>">
                <a
                  href="tel:<%= phone%>"
                  class="js_preview_email card__list--icon-<%= palette%>"
                  target="_blank"
                  rel="noreferrer"
                  ><i
                    class="fas fa-mobile-alt card__list--icon-<%= palette%> cardicon-js icon-<%= palette%>"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
            </li>
            <li>
              <div class="card__list--icon icon-js iconcircle-<%= palette%>">
                <a
                  href="mailto:<%= email%>"
                  class="js_preview_email card__list--icon-<%= palette%>"
                  target="_blank"
                  rel="noreferrer"
                  ><i
                    class="far fa-envelope cardicon-js icon-<%= palette%>"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
            </li>
            <li>
              <div class="card__list--icon icon-js iconcircle-<%= palette%>">
                <a
                  href="//<%= linkedin%>"
                  class="js_preview_email card__list--icon-<%= palette%>"
                  target="_blank"
                  rel="noreferrer"
                  ><i
                    class="fab fa-linkedin-in card__list--icon-<%= palette%> cardicon-js icon-<%= palette%>"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
            </li>
            <li>
              <div class="card__list--icon icon-js iconcircle-<%= palette%>">
                <a
                  href="https://github.com/<%= github%>"
                  class="js_preview_email card__list--icon-<%= palette%>"
                  target="_blank"
                  rel="noreferrer"
                  ><i
                    class="fab fa-github-alt card__list--icon-<%= palette%> cardicon-js icon-<%= palette%>"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
            </li>
          </ul>
        </article>
      </div>
    </section>
  </body>
</html>
